.form-text{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

.form-input{
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  color: darkgray;
  background-color: #1d1e29;
  border-style: none;
}
.form-button{
margin-top: 20px;
border-radius: 8px;
text-transform: uppercase;
vertical-align: middle;
width: 90%;
line-height: 40px;
color: darkgray;
background-color: #1d1e29;
transition:800ms ease all;
border-style: none;
box-shadow: 0px 0px 6px 0px rgba(54, 53, 53, 0.3);
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}