.card-row{
  display: grid;
  grid-template-columns: min-content;
  background-color: #1d1e29;
}

.card {
  background-color:#242633;
  color: #818294;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
  grid-row: 1/span 2;
  align-items: center;
  /* z-index: 1; */
  /* box-shadow:  0px 4px rgba(0, 0, 0, 0.1); */
}
