.navbar{
  height: 10vh;
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background: #242633;
  padding: 10px 16px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar-logo{
  color: #fff;
  text-decoration-line: none;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}


.menu-icon{
  color: #fff;
  display: inline;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
}

.profile-icons{
  width: 90vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
.profile-icon{
  width: 30px;
  margin-right: 25px;
}
