.sidebar{
position:fixed;
left: 0;
top:11vh;
background: #242633;
width: 160px;
height: 100%;
padding: 16px;
transition: width .2s ease-in;
}

.sidebar.collapse{
  width: 40px;
}
ul{
  list-style: none;
}


.menu-link{
  margin-left: 8px;
  color: #818294;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  display: block;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}


.sidebar .menu-link span{
  position: absolute;
  display: inline-block;
  padding-top: 6px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.sidebar.sidebar.collapse .menu-link span{
  opacity: 0;
}
.menu-icons{
  margin-right: 16px;
  padding: 0px;
  height: 30px;
  width: 30px;
  color: #818294;
  display: inline-block;
}