.customer-table{
  width: 100%;
  border-collapse: collapse;
}
.customer-table th, .customer-table td{
  padding: 12px;
  text-align: center;
  color: darkgray;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #1d1e29;
  border-collapse: collapse;
}
.customer-table tr:nth-child(even){background-color: #1d1e29;}